# Node
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Build
dist
build

# Environnement
.env
.env.local
.env.production
.env.development

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log