# =========================
# SERVER
# =========================
PORT=4000
NODE_ENV=development

# =========================
# DATABASE MYSQL
# =========================
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=coiffeur_db

# =========================
# JWT ADMIN
# =========================
JWT_SECRET=change_this_secret_key_123456
JWT_EXPIRES_IN=7d

# =========================
# FRONTEND URL
# =========================
FRONTEND_URL=http://localhost:3000

# =========================
# CORS
# =========================
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://192.168.1.3:3000

# =========================
# UPLOADS
# =========================
UPLOAD_DIR=uploads
UPLOAD_URL=http://localhost:4000/uploads

# =========================
# SALON / COIFFEUR
# =========================
SALON_NAME=PRESTIGE
BARBER_NAME=Coiffeur PRESTIGE
BARBER_EMAIL=mohammedelaminesaidmansour@gmail.com

# =========================
# NOTIFICATIONS
# =========================
ENABLE_EMAIL=true
ENABLE_TELEGRAM=true

# =========================
# SMTP EMAIL GMAIL
# =========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=mohammedelaminesaidmansour@gmail.com
SMTP_PASS=bjxw sajr znhp ihxw

SMTP_FROM_NAME=PRESTIGE
SMTP_FROM_EMAIL=mohammedelaminesaidmansour@gmail.com
MAIL_FROM="PRESTIGE <mohammedelaminesaidmansour@gmail.com>"

# =========================
# TELEGRAM BOT
# =========================

TELEGRAM_BOT_TOKEN=8619783247:AAHvA9_tpJB4wWa4MbhhXBgk4tpQUikCstU
TELEGRAM_BARBER_CHAT_ID=6504610727